@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
*{margin: 0px; padding: 0px;}
a{text-decoration: none;}
main .container .row{margin: 100px 0px;}

.fix {
  position: fixed !important;
  z-index: 999;
  height: 80px !important;
  background-color: rgb(255, 255, 255) !important;
  animation: nav-anim 300ms linear both;
  box-shadow: 0 0px 7px -2px #000000 !important;
  background-position: 0 50%;
}
.fix .burger i {
  color: rgb(0,0,0) !important;
  transition: 500ms;
}

.burger {
  display: none;
}

/* </main classes> */
/* <Animations> */

@keyframes nav-anim {
  0%  {opacity: 0;}
  100%{opacity: 1;}
}


.element-animation1.element-show, 
.element-animation2.element-show, 
.element-animation3.element-show {
  opacity: 1;
  transition: opacity 1s;
}
.element-animation1 {
  opacity: 0;
  transform: translateX(100px);
}
.element-animation2 {
  opacity: 0;
  transform: translateX(-100px);
}
.element-animation3 {
  opacity: 0;
}
.element-animation1.element-show, 
.element-animation2.element-show,
.element-animation3.element-show   {
  opacity: 1;
  transition: all 500ms;
  transform: translateX(0px);
}

/* </Animatios> */

/* <head> */

.logo {
  height: 100%;
  margin-right: 13%;
}

/* .style { */
  /* background-color: rgb(28,28,28); */
/* } */

.img1{
  height: 100vh;
  background-image: url(../image/photo6.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.header {
  background-color: rgb(253, 229, 158, 0.3);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 80px;
}
.nav-menu .burger i {
  color: #fff;
}
.nav-menu i {
  font-size: 22px;
}

.options {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}
.options a {
  display: flex;
  align-items: top;
  color: black
}

.headerTxt {
  font-family: Cormorant Garamond,serif;
}

.button a{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.button a span{position: relative; z-index: 2;}

.button a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(101, 67, 33);
  transition: all .35s;
}

.button a:hover{
  color: #fff;
}

.button a:hover:after{
  width: 100%;
}










/* <main> */

.explanationText {
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.explanationText h2{
  font-size: 23px;
  font-weight: bold;
}

.explanationTexth2 {
  margin: 50px 0px;
}

.explanationTextP {
  margin: 50px 0px;
}

.hm1 {
  margin-top: 30%;
  margin-bottom: 10%;
}

.video1 {
  width: 30%;
  height: 20%;
  z-index: 99;
}

.video2 {width: 100%;}
.vm{  
  width: 70%;
  margin-top: 20%;
  position: relative;
}

.relative {position: relative;}

.explanationImg{position: relative;}
.explanationImg::before{
  content: '';
  top: 30px;
  left: -30px;
  position: absolute;
  background-color:rgb(253, 229, 158);
  width: 100%;
  height: 100%;
  z-index: -1;
  border-top-left-radius: 100px;
}

.vm::before {
  content: '';
  top: 30px;
  left: -30px;
  position: absolute;
  background-color:rgb(253, 229, 158);
  width: 100%;
  height: 100%;
  z-index: -99;
}

/* </main> */
/* <footer> */

footer {
  background-color: #131928;
}

footer p {
  color: #fff;
  font-size: small;
}

footer > .container .row .socialMedia{
  margin: 20px 0px;
}

footer > .container .row .socialMedia a {
  color: #fff;
  font-size: 30px;
}
footer > .container .row .socialMedia a:nth-child(1) i{ margin-right: 10px; }
footer > .container .row .socialMedia a:nth-child(2) i{ margin-left: 10px; }

footer > .container .row .socialMedia a:hover:nth-child(1) i { color: #c03035; }
footer > .container .row .socialMedia a:hover:nth-child(2) i { color: rgb(37,211,102); }

/* </footer> */
/* <preloader> */

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: rgb(253, 229, 158);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

/* </preloader> */